<!DOCTYPE html>
<html>

	<head>
		<title>全部商品</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, height=device-width,initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="format-detection" content="telephone=no">
		<link rel="stylesheet" href="../css/style.css" />
		<link rel="stylesheet" href="../css/reset.css" />
		<link rel="stylesheet" href="../css/iconfont.css" />
		<script type="text/javascript" src="../js/jquery-1.8.3.min.js"></script>
		<script type="text/javascript" src="../js/ConfigUrl.js"></script>
		<script type="text/javascript" src="../js/rem.js"></script>
		<script type="text/javascript" src="../js/cat.js"></script>
		<script type="text/javascript" src="../js/template.js" ></script>

	</head>

	<body>
		<div class="search_bar">

			<div class="search_bar_form">
				<i class="iconfont icon-sousuo"></i>
				<form action=""><input value="" type="search" class="search" placeholder="商品名称搜索" /></form>
			</div>

		</div>
		<ul class="d_tab">
			<li  class="d_bor_active">
				保税仓发货
			</li>
			<li >
				国内发货
			</li>
			<div class="xtab-underline" ></div>
		</ul>
		<ul class="d_tab_s">
			<li class="baoshui">
				<div class="d_wrap">
					<ul class="d_left" id="d_left"></ul>
					<ul class="d_right"></ul>
				</div>
			</li>
			<li class="guonei" style="display: none;">
				<div class="d_wrap">
					<ul class="d_left"id="d_left1"></ul>
					<ul class="d_right"></ul>
				</div>
			</li>
		</ul>

		<div class="d_footer">
			<a href="javascript:">
				<p><i class="iconfont icon-dianpushop color"></i></p>
				<p class="color">首页</p>
			</a>
			<a href="../activity/index.html">
				<p><i class="iconfont icon-laba"></i></p>
				<p>分类</p>
			</a>
			<a href="../order/order_list.html">
				<p><i class="iconfont icon-dingdan"></i></p>
				<p></p>
			</a>
		</div>
	</body>

</html>