	.Dcontainer {
		width: 100%;
		height: 135px;
		overflow: hidden;
		background-image: url(../img/ban.jpg);
		background-size: 100% 100%;
		position: relative;
	}
	
	.Dhead {
		width: 100%;
		height: auto;
		overflow: hidden;
		color: #FFFFFF;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-image: url(../img/yinying.png);
		background-size: 100% 100%;
	}
	
	.Dleft {
		float: left;
		width: 75px;
		height: 75px;
		border-radius: 75px;
		border: 1px solid #fff;
		overflow: hidden;
		margin: 11px;
	}
	
	.Dleft img {
		width: 100%;
		height: 100%;
	}
	
	.Dright {
		width: 60%;
		height: auto;
		overflow: hidden;
		float: left;
		margin: 10px;
		text-shadow: 1px 1px 0 #999;
	}
	
	.Diphone {
		width: 100%;
		height: auto;
		overflow: hidden;
		text-align: center;
	}
	
	.Diphone img {
		width: 20px;
		vertical-align: middle;
	}
	
	.Dtitle {
		font-size: 16px;
		font-weight: 600;
		line-height: 30px;
	}
	
	.Ddetail {
		font-size: 14px;
	}
	
	.Dcontent {
		width: 100%;
		height: auto;
		position: relative;
		overflow-x: scroll;
	}
	
	.Dmove {
		margin: 15px 0;
		background-color: #FFFFFF;
		height: auto;
		overflow: hidden;
	}
	
	.Dmove li {
		float: left;
		width: 100px;
		background-color: #FFFFFF;
		height: auto;
		overflow: hidden;
		margin-left: 10px;
		text-align: center;
	}
	
	.Dmove li img {
		width: 80px;
	}
	
	.Dmove li p {
		font-size: 14px;
		height: 20px;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	
	.Dmove li p:first-of-type {}
	
	.Dmove li p:nth-of-type(2) {
		color: #FF5000;
	}
	
	.Dmove li p:nth-of-type(3) {
		color: #999;
		font-size: 12px;
		text-decoration: line-through;
	}
	
	::-webkit-scrollbar {
		width: 0px
	}
	
	.Dul {
		width: 100%;
		height: auto;
		overflow: hidden;
		background-color: #fff;
		margin-bottom: 50px;
	}
	
	.Dul ul {
		width: 95%;
		height: auto;
		overflow: hidden;
		margin: 0 auto;
		border-bottom: 1px solid #ccc;
	}
	
	.Dul ul li {
		width: 49%;
		float: left;
		margin: 10px 0;
	}
	
	.Dul ul li:nth-child(odd) {
		border-right: 1px solid #ccc;
	}
	
	.Dul ul li img {
		width: 80px;
		float: left;
	}
	
	.Dul ul li div {
		font-size: 12px;
		float: left;
		margin-top: 35px;
	}